<ion-content class="ion-no-border" [fullscreen]="true">
  <div id="fondo-login">
    <div id="tarjeta-login">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large"></ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-title class="titulo-principal">
        Bienvenido [Nombre usuario]
      </ion-title>

      <p></p>
      <ion-button class="boton" id="present-alert-qr">Generar Qr</ion-button>
      <ion-alert
        trigger="present-alert-qr"
        header="No funciona"
        message="Este botón aún no funciona"
        [buttons]="alertButtons"
      ></ion-alert>

      <p></p>

      <ion-button class="boton" id="present-alert-code">Escanear código Qr</ion-button>
      <ion-alert
        trigger="present-alert-code"
        header="No funciona"
        message="Este botón aún no funciona"
        [buttons]="alertButtons"
      ></ion-alert>
    </div>
  </div>
</ion-content>